
on post-fs-data
    # add aplog dir
    mkdir /data/local 0751 system system
    mkdir /data/local/hmdlogs 0775 system system
    mkdir /data/local/hmdlogs/aplog 0777 system system
    mkdir /data/local/hmdlogs/aplog/last 0777 system system
    mkdir /data/local/hmdlogs/aplog/last2 0777 system system
    # for modem log
    # mkdir /data/local/hmdlogs/mdlog 0775 system system
    #for adsp log
    mkdir /data/local/hmdlogs/adsplog 0775 system system
    # for ap wakeup source log
    mkdir /data/local/hmdlogs/aplog/bugreports 0775 system system
    # add by jacky.wei@hmdglobal.com for ScarletWitch GetlogTool tcpdump 2020-12-02-03
    mkdir /data/local/hmdlogs/tcpdump 0777 system system
    mkdir /data/local/hmdlogs/tcpdump/last 0777 system system
    mkdir /data/local/hmdlogs/tcpdump/last2 0777 system system
    # add by jacky.wei@hmdglobal.com
    mkdir /data/local/hmdlogs/aplog/tombstones 0777 system system
    mkdir /data/local/hmdlogs/aplog/anr 0777 system system
    symlink /sdcard/hmdlogs/mdlog /data/local/hmdlogs/mdlog

service getlogext /system/bin/getlogext -a
    disabled
    user shell
    group root system oem_2901 sdcard_rw sdcard_r media_rw  shell ext_data_rw
    oneshot
    seclabel u:r:hmdlog:s0

on property:sys.debug.getlogext=1
    start getlogext

on property:sys.debug.getlogext=0
    stop getlogext

service getlogbugreport /system/bin/getlogext -b
    disabled
    user shell
    group root system oem_2901 sdcard_rw sdcard_r media_rw  shell ext_data_rw log
    oneshot
    seclabel u:r:hmdlog:s0

on property:sys.debug.getlogbugreport=1
    start getlogbugreport

on property:sys.debug.getlogbugreport=0
    stop getlogbugreport

service getaplog /system/bin/getlogext -c
    disabled
    user root
    group root system oem_2901 sdcard_rw sdcard_r media_rw  shell ext_data_rw
    oneshot
    seclabel u:r:hmdlog:s0

service getkernellog /system/bin/getlogext -k
    disabled
    user root
    group root system oem_2901 sdcard_rw sdcard_r media_rw  shell ext_data_rw
    oneshot
    seclabel u:r:hmdlog:s0

on property:sys.debug.getkernellog=1
    start getkernellog

on property:sys.debug.getkernellog=0
    stop getkernellog

on property:persist.sys.debug.getaplog=1
    start getaplog

on property:persist.sys.debug.getaplog=0
    stop getaplog

on property:persist.sys.debug.getqxdmlog=1
    setprop persist.vendor.debug.mdlog 1

on property:sys.boot_completed=1 && property:persist.sys.debug.getqxdmlog=1
    setprop persist.vendor.debug.mdlog 1

on property:persist.sys.debug.getqxdmlog=0
    setprop persist.vendor.debug.mdlog 0

service gettcpdumplog /system/bin/getlogext -t
    disabled
    user root
    group root system oem_2901 sdcard_rw sdcard_r media_rw  shell ext_data_rw
    oneshot
    seclabel u:r:hmdlog:s0

service  stoptcpdumplog /system/bin/getlogext -p
    disabled
    user root
    group root system oem_2901 sdcard_rw sdcard_r media_rw shell
    oneshot
    seclabel u:r:hmdlog:s0

on property:persist.sys.debug.gettcpdump=1
    restart gettcpdumplog

#on property:persist.sys.debug.gettcpdump=0
#    start stoptcpdumplog

on property:persist.sys.debug.gettcpdump=0
    stop gettcpdumplog

#add by jacky.wei@hmdglobal.com for [SNT][SNT-982]EMBMS licenses 03
on property:sys.copyembmsfile=1
    setprop vendor.debug.embms 1

